{% extends 'base.html'%}

{% block content %}
<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 tsxt-center"> !BIENVENIDOS!</h1>
        <p>De parte de los programadores, estamos muy felices que utilices 
            este sitio.</p>
            <strong>Al momento de usar el sitio por favor te en cuenta lo siguiente</strong>
            <p>
                - Para la creacion de la cuenta  dar click en "Signup", te dirigirá a la
                  sección de creacion de cuentas.
            </p>
            <p>
                - Una vez creada la cuenta, presiona "Singin" para ingresar tus credenciales.
            </p>
            <p>
                - Estarás en una seccion de Tareas pendientes, (si eres nuevo no aparecerá nada)
            </p>
            <p>
                - Para crear una Tarea Pendiente, dar click en "Create Task".
            </p>
            <p>
                - Te enviara a una sección de creación de pendientes.
            </p>
            <p>
                - Al momento de crear una Tarea, si la deseas completar o eliminar, solo debes darle click.
                  a la tarea mismo.
            </p>
            <p>
                - Una vez dentro de la tarea, tu sabrás que hacer con ella.
            </p>
            <p>
                - Para ver las tareas completas, ir al apartado de Tareas Completas.
            </p>
        
            <div class="text-center">
                <a class="btn btn-primary" href="/signin/">
                    Signin
                </a>
                <a class="btn btn-dark" href="/signup/">
                    Signup
                </a>
            </div>
    </section>
    </main>
    {% endblock %}