{% extends 'base.html'%}

{% block content %}
<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 tsxt-center"> DJANGO APP</h1>
        <p>Lorem, ipsum dolor sit amet consectetur a
        dipisicing elit. Modi recusandae omnis iusto! 
        Iste repudiandae consectetur est optio omnis 
        distinctio eum aut hic magni necessitatibus, 
        sapiente maxime iure repellendus vitae doloremque 
        sunt laboriosam adipisci tempora? Sint, eaque rerum
        natus minus nisi consectetur deserunt minima veritatis 
        nesciunt in consequatur, illo quis veniam sequi tempora 
        recusandae iure rem beatae ducimus voluptatum error? 
        Beatae esse quisquam quod aliquam ipsam, voluptas 
        fuga dolorem debitis vero eveniet ut nulla nesciunt. 
        Quam temporibus eos ea accusantium cumque culpa natus! 
        Iusto corrupti suscipit sint dolorum molestiae dicta enim 
        consequuntur quaerat quam reiciendis harum, optio 
        quibusdam veritatis tempora earum!</p>
        
            <div class="text-center">
                <a class="btn btn-secondary" href="/signin/">
                    Signin
                </a>
                <a class="btn btn-dark" href="/signup/">
                    Signup
                </a>
            </div>
    </section>
    </main>
    {% endblock %}